<h1>Edit Game stat</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.game_stat_path(@conn, :update, @game_stat)) %>

<span><%= link "Back", to: Routes.game_stat_path(@conn, :index) %></span>
